{% extends "layout.html" %}
{% block menu %}
<div class="pure-menu">
    <a class="pure-menu-heading" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>

    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Ultime 24 ore</a>
        </li>

        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Services</a>
        </li>

        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block header %}
<h1>Meteorismo</h1>
<h2>La stazione meteo!</h2>
{% endblock %}
{% block content %}
<p>porcammerda</p>
{% endblock %}